body{
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: Helvetica;
}
nav{
	display: flex;
	background-color: #C2C224;
	padding: 10px;
	color: white;
	justify-content: space-between;
	align-items: center;
}

nav ul{
	display: flex;
}

nav li{
	padding-left: 20px;
	list-style: none;
}

nav li a{
	color: #362BDA;
	text-decoration: none;
}

nav li a:hover{
	color: white;
}

/*Main section*/

.main-section{
	padding: 15%;
	text-align: right; 
	background-image: url("Imagenes/LogoCascoo.jpg");
	height: 300px;
}

.main-section h1, h3, h5{
	text-align: left;
	padding: 0;
	margin: 0;
	color: white;
}

.products{
	height: 200px; 
	background-image: url
	background-size: cover;
	background-position: center top;
	padding: 20px;
	display: flex;
}

.product{
	padding: 10px;
}

.product .content{
	background-color: red;
	padding: 20px;


}